@import url('http://fonts,googleapis.com/css?family=Bad+Script');
h3
{
	margin: 0;
	padding: 0;
	color: #111;
	font-size: 5em;
}

h3 span
{
	display: table-cell;
	margin: 0;
	padding: 0;
	animation: animate 2.5s linear infinite;
}

h3 span:nth-child(1)
{
	animation-delay: 0s;
}

h3 span:nth-child(2)
{
	animation-delay: 0.5s;
}

h3 span:nth-child(3)
{
	animation-delay: 1s;
}

h3 span:nth-child(4)
{
	animation-delay: 1.5s;
}

h3 span:nth-child(5)
{
	animation-delay: 2s;
}


@keyframes animate
{
	0%,100%
	{
		color: #fff;
		filter: blur(2px);
		text-shadow: 		0 0 10px #228B22,
		            		0 0 20px #228B22,
					0 0 40px #228B22,
					0 0 80px #228B22,
					0 0 120px #228B22,
					0 0 200px #228B22,
					0 0 300px #228B22,
					0 0 400px #228B22;
	}
	5%,95%
	{
		color: #111;
		filter: blur(0px);
		text-shadow: none,
	}
}